name: Continuous Integration

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  build-and-test:
    name: Build and test
    uses: ./.github/workflows/build-and-test.yaml
    with:
      ref: ${{ github.sha }}
    secrets: inherit